body {
    background: url("../img/배경스트라이프하트.png");
}
#book {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1120px; /* 전체 너비 줄임 */
    height: 640px; /* 높이 줄임 */
    transform-style: preserve-3d;
    transform: translate(-50%, -50%);
    perspective: 2500px; /* 책 크기에 맞게 원근 조정 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.page {
    position: absolute;
    width: 560px; /* 페이지 너비 조정 */
    height: 100%; /* 페이지 높이 유지 */

    /*border: 1px solid #ccc;*/
    backface-visibility: hidden;
    transform-origin: right;
    transition: transform 1s ease;
}

.left-page {
    position: absolute;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}

.right-page {
    position: absolute;
    right: 0;
    transform-origin: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-page {
    position: absolute;
    right: 0;
    transform-origin: left;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}

/* 버튼 스타일 */
button {
    position: absolute;
    top: 50%;
    width: 100px; /* 버튼 크기 */
    height: 100px;
    background-color: transparent; /* 배경색 제거 */
    border: none; /* 테두리 제거 */
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    transform: translateY(-50%);
    transition: background-image 0.3s ease; /* 이미지 변경 시 부드러운 전환 */
}

#prev {
    left: -120px; /* 왼쪽 버튼 위치 */
    background-image: url("../img/일기장하트버튼.png"); /* 이전 버튼 이미지 */
}

#next {
    right: -120px; /* 오른쪽 버튼 위치 */
    background-image: url("../img/일기장하트버튼.png"); /* 다음 버튼 이미지 */
}

/* 호버 효과 */
#prev:hover {
    background-image: url("../img/일기장이전버튼호버.png"); /* 호버 시 이전 버튼 이미지 */
}

#next:hover {
    background-image: url("../img/일기장다음버튼호버.png"); /* 호버 시 다음 버튼 이미지 */
}

/* 비활성화된 버튼 */
button:disabled {
    cursor: not-allowed;
}



/* 버튼 흔들리는 애니메이션 */
@keyframes sway {
    0%{
        transform: translateY(-50%) rotate(0deg);
    }
    25% {
        transform: translateY(-50%) rotate(-10deg);
    }
    75% {
        transform: translateY(-50%) rotate(10deg);
    }
    100% {
        transform: translateY(-50%) rotate(0deg);
    }
}

/* 애니메이션 적용 */
#prev, #next {
    animation: sway 1.5s infinite ease-in-out;
}


#leftPage {
    background: url("../img/일기장표지.png");
}
#rightPage1 {
    background: url("../img/일기장1.png");
}
#rightPage2 {
    background: url("../img/일기장2.png");
}
#rightPage3 {
    background: url("../img/일기장3.png");
}
#rightPage4 {
    background: url("../img/일기장4.png");
}
#rightPage5 {
    background: url("../img/일기장5.png");
}